@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
html {
  --color-supernova: rgb(255, 205, 0);
  --color-gin-fizz: rgb(255, 250, 224);
  --color-lily-white: rgb(227, 244, 254);
  --color-dodger-blue2: rgb(25, 195, 251);
  --color-dodger-blue1: rgb(28, 156, 246);
  --color-blue-ribbon: rgb(29, 113, 242);
  --color-blue-transparent3: rgba(227, 244, 254, 0.3);
  --color-blue-transparent2: rgba(20, 80, 169, 0.302);
}
body,
.container {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.container {
  height: 100vh;
  padding: 0;
  margin: 0;
}
.inputArea,
.searchForm,
.main,
.m-temps,
.icon-date-time > div,
.all-temps,
.icon-date-time,
.currentConditions > div {
  display: flex;
}
.container,
.header,
.currentWeather,
.currentConditions,
.onload {
  display: flex;
  flex-direction: column;
}
.container {
  justify-content: space-between;
  background: var(--color-blue-ribbon);
  background: linear-gradient(
    175deg,
    rgba(29, 113, 242, 1) 19%,
    rgba(28, 156, 246, 1) 42%,
    rgba(25, 195, 251, 1) 100%
  );
}
.header,
.currentWeather,
.currentConditions,
.onload {
  background: var(--color-blue-transparent3);
  padding: 20px;
  align-items: center;
  box-shadow: 5px 5px 5px 5px var(--color-blue-transparent2);
  -webkit-box-shadow: 5px 5px 5px 5px var(--color-blue-transparent2);
  -moz-box-shadow: 5px 5px 5px 5px var(--color-blue-transparent2);
  z-index: 10;
}
.logo {
  font-family: "Asap", sans-serif;
  font-style: italic;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-size: 4.5rem;
  color: #ffff;
  z-index: 11;
  text-shadow: 5px 5px var(--color-blue-transparent2);
}
.animation {
  height: 700px;
  width: 700px;
  position: fixed;
  top: -304px;
  right: -290px;
  z-index: 9;
  opacity: 0.95;
}
.inputArea {
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  width: 80%;
  max-width: 700px;
  z-index: 11;
}
.switch {
  flex: none;
}
.slider::before {
  font-family: "Montserrat Alternates", sans-serif;
}
.searchForm {
  min-width: 200px;
  flex: 2;
  margin: 0 10px;
}
.searchBox {
  height: 40px;
  background-color: var(--color-blue-transparent2);
  border-radius: 35px;
  margin: 0;
  padding-left: 10px;
  border: 1px solid;
  border-color: var(--color-lily-white);
  box-shadow: none;
  font-family: "Dosis", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 0.1rem;
  color: var(--color-lily-white);
  min-width: 200px;
  flex: 2;
}
.searchBox:focus {
  background-color: transparent;
  outline: none;
}
.searchBox::placeholder {
  color: var(--color-lily-white);
}
.searchBox:focus::placeholder {
  opacity: 0;
}
.main {
  color: #ffff;
  justify-content: center;
  flex-wrap: wrap;
}
.currentWeather,
.currentConditions,
.onload {
  font-family: "Dosis", sans-serif;
  flex: 1;
  margin: 1em;
  padding: 2.3em;
  border-radius: 10px;
  gap: 1em;
  max-width: 410px;
  min-width: 270px;
  letter-spacing: 0.05em;
}
.onload {
  justify-self: flex-start;
  padding: 2.3em;
  margin: 0.8em;
  gap: 0;
  text-align: center;
}
.onload * {
  margin: 0;
}
.onload .logo {
  font-size: 3rem;
}

#weather-icon {
  font-size: 8em;
}
.temp-icon {
  font-size: 1.8em;
}
.temp-m,
#time,
.currentConditions > div {
  font-size: 1.5em;
}
.m-temps,
.icon-date-time > div {
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
}
.temp {
  font-size: 10em;
}
.all-temps,
.icon-date-time {
  align-items: center;
  gap: 1em;
}
.temp-f,
.description,
#date,
.onload {
  font-size: 2em;
}
.currentConditions > div > i {
  font-size: 2.5em;
}
.currentConditions {
  align-items: flex-start;
}
.currentConditions > div {
  align-items: center;
  gap: 2em;
}

.error-ms {
  padding: 5px;
  font-size: 1.2em;
  font-style: italic;
  background-color: var(--color-blue-transparent2);
  color: var(--color-supernova);
  width: 100%;
  text-align: center;
  margin-bottom: auto;
  display: none;
  /* font-family: "Dosis", sans-serif; */
  font-family: "Asap", sans-serif;
  /* font-family: "Montserrat Alternates", sans-serif; */
  box-shadow: 5px 5px 5px 5px var(--color-blue-transparent2);
  -webkit-box-shadow: 5px 5px 5px 5px var(--color-blue-transparent2);
  -moz-box-shadow: 5px 5px 5px 5px var(--color-blue-transparent2);
  position: fixed;
  top: -10px;
}

@media (max-width: 500px) {
  .logo {
    font-size: 3em;
  }
  .animation {
    height: 500px;
    width: 500px;
    top: -197px;
    left: -234px;
  }
  .temp {
    font-size: 8em;
  }
  .onload .logo {
    font-size: 3rem;
  }
  .onload {
    padding: 1.3em;
  }
}
